body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Barre latérale s'ouvre à droite */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  opacity: 0.5;
}

.sidenav a {
  padding: 18px 18px 18px 18px;
  text-decoration: none;
  font-size: 25px;
  color: #ef7d39;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #1d3557;
}

.sidenav .closebtn {
  color: #ef7d39;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 56px;
  margin-left: 50px;
}

#openbtn{
  color: #ef7d39;
  font-size: 40px;
}

/* Logo */
#logo {
  background-position: center;
  background-size: cover;
  background-image: url("img/Zakat\ Al\ Fitr.png");
  position: absolute;
  top: 30px;
  left: 50px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

#logo:hover {
  opacity: 0.8;
}

/* Position the navbar container inside the image */
.container {
  position: relative;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #1d3557;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 2px solid transparent;
}

.topnav a:before {
  content: "";
  display: block;
  position: relative;
  width: 0;
  top: 2em;
  border-bottom: 2px solid #ef7d39;
  transition: width 0.4s;
}

.topnav a:hover {
  height: 1px;
  opacity: 0.7;
  text-align: left;
}

.topnav a:hover:before {
  width: 100%;
}

.active, .a:hover {
  border-bottom: 2px solid #ef7d39;
}

input[type=text] {
  font-size: 1rem;                                                                                                                                                                                                                                                                                                                              
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/Page\ 2\ Dépôts.png");
  background-size: cover;
  min-height: 100%;
}                                        

/* Media queries for mobile devices */
@media screen and (max-width: 1920px) {
  .bgimg-1 {
    background-image: url("img/Page\ 2\ Dépôts.png");
  }
}

@media screen and (max-width: 810px) {
  .bgimg-1 {
    background-image: url("img/Page\ 2\ Dépôts.png");
  }
}

@media screen and (max-width: 800px) {
  .bgimg-1 {
    background-image: url("img/Page\ 2\ Responsive.png");
  }
}
@media screen and (max-width: 412px) {
  .bgimg-1 {
    background-image: url("img/Page\ 2\ Responsive.png");
  }
}

@media screen and (max-width: 375px) {
  .bgimg-1 {
    background-image: url("img/Page\ 2\ Responsive.png");
  }
}

@media screen and (max-width: 360px) {
  .bgimg-1 {
    background-image: url("img/Page\ 2\ Responsive.png");
  }
}

/*search bar */
::placeholder{
  color: #1d3557;
}

.fa-search{
  color: #EF7D39;
  font-size: 30px;
}

.input-wrapper{
  position: absolute;
  top: 18%;
  left: 40%;
  display: flex;
  align-items: center;
  width: 20%;
  background: #2EB467;
  padding: 0.5rem;
  opacity: 0.7;
  border-radius: 0.5rem;
}

input{
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: #2EB467;
}

#match-list {
  position: relative;
  top: 210px;
}

table, th, td {
  border: 2px solid #1D3557;
  border-collapse: collapse;
  color: #1D3557;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media only screen and (min-width : 360px) and (max-width : 428px)
{
	.input-wrapper
	{
    left: 5%;
		width: 90%;
		margin: 0 auto;
  }

  #match-list {
    position: relative;
    top: 90px;
  }
}

@media only screen and (min-width : 800px) and (max-width : 1920px)
{
	.input-wrapper
	{
    left: 35%;
		width: 30%;
		margin: 0 auto;
	}

  #match-list {
    position: relative;
    top: 160px;
  }

  img {
    width: 400px;
  }
}

/* Media queries for mobile devices */

.copyright {
  position: relative;
  left: 1000px;
  color: #1d3557;
}

/* Media queries for mobile devices */
@media screen and (max-width: 1920px) {
  .copyright {
    position: relative;
    bottom: 10px;
    left: 700px;
  }
}

@media screen and (max-width: 1440px) {
  .copyright {
    position: relative;
    bottom: 1px;
    left: 450px;
  }
}

@media screen and (max-width: 1280px) {
  .copyright {
    position: relative;
    top: 5px;
    left: 400px;
  }
}

@media screen and (max-width: 1080px) {
  .copyright {
    position: relative;
    left: 310px;
    top: 1px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    position: relative;
    left: 150px;
  }
}

@media screen and (max-width: 428px) {
  .copyright {
    font-size: x-small;
    position: relative;
    left: 30px;
    top: 1px;
  }
}

@media screen and (max-width: 414px) {
  .copyright {
    font-size: x-small;
    position: relative;
    left: 22px;
    top: 2px;
  }
}

@media screen and (max-width: 390px) {
  .copyright {
    font-size: xx-small;
    position: relative;
    left: 25px;
    top: 2px;
  }
}

@media screen and (max-width: 384px) {
  .copyright {
    font-size: xx-small;
    position: relative;
    left: 20px;
  }
}

@media screen and (max-width: 375px) {
  .copyright {
    font-size: xx-small;
    position: relative;
    left: 16px;
  }
}

@media screen and (max-width: 360px) {
  .copyright {
    font-size: xx-small;
    position: relative;
    left: 9px;
  }
}

/* icons social network */
.fa-facebook {
  font-size: 30px;
  margin: 5px 2px;
  padding: 10px;
  color: #3b5998;
}

.fa-instagram {
  font-size: 30px;
  margin: 5px 2px;
  padding: 10px;
  color: #c32aa3;
}

.fa-snapchat {
  font-size: 30px;
  margin: 5px 2px;
  padding: 10px;
  color: #fffc00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-twitter {
  font-size: 30px;
  margin: 5px 2px;
  padding: 10px;
  color: #1da1f2;
}

/* Media queries for mobile devices */
@media screen and (max-width: 428px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 40px;
    width: 40px;
    left: 20px;
    bottom: 20px;
  }
}

@media screen and (max-width: 414px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 40px;
    width: 40px;
    bottom: 15px;
    left: 10px;
  }
}

@media screen and (max-width: 412px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 30px;
    width: 40px;
    left: 10px;
    top: 10px;
  }
}

@media screen and (max-width: 411px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 30px;
    width: 40px;
    left: 10px;
    top: 10px;
  }
}

@media screen and (max-width: 390px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 35px;
    width: 50px;
    margin: 5px 2px;
    bottom: 10px;
    left: 1px;
  }
}

@media screen and (max-width: 384px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 35px;
    width: 40px;
    bottom: 10px;
    left: 1px;
  }
}

@media screen and (max-width: 375px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 35px;
    width: 50px;
    bottom: 2px;
    left: -10px;
  }
}

@media screen and (max-width: 360px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 25px;
    font-size: 35px;
    width: 50px;
    margin: 5px 2px;
    bottom: 5px;
    left: 5px;
  }
}

/* Measures page */

@media only screen and (min-width : 800px) and (max-width : 1920px){

  #myImg{
  width: 30%;
  }
}

@media screen and (max-width: 810px) {

  #myImg{
    width: 55%;
  } 
}

@media only screen and (min-width : 360px) and (max-width : 428px){

  #myImg{
  width: 80%;
  }
}

p {
  color: #1D3557;
  text-align: center;
}

.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40px;
  max-width: 80%;
  height: auto;
} 

#myImg {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 95%;
  max-width: 700px;
  border-radius: 8px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Team page */

.text-1 {
  text-align: justify;
  text-justify: inter-word;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1D3557;
}

hr.new1 {
  border: 3px solid #DCAD0D;
  width: 80%;
  position: relative;
  left: 22%;
  bottom: 10px;
}

hr.new2 {
  border: 3px solid #DCAD0D;
  width: 40%;
  position: relative;
  right: 2%;
  bottom: 10px;
}

hr.new3 {
  border: 3px solid #DCAD0D;
  width: 80%;
  position: relative;
  right: 2%;
  bottom: 650px;
}

.vl {
  border-left: 6px solid #DCAD0D;
  height: 300px;
  position: relative;
  left: 102%;
  bottom: 330px;
}

.vl1 {
  border-left: 6px solid #DCAD0D;
  height: 300px;
  position: relative;
  right: 2%;
  bottom: 330px;
}

/* Countdown */

.container {
  color: #1D3557;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5rem;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}