body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Barre latérale s'ouvre à droite */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  opacity: 0.7;
}

.sidenav a {
  padding: 18px 18px 18px 18px;
  text-decoration: none;
  font-size: 25px;
  color: #ef7d39;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #1d3557;
}

.sidenav .closebtn {
  color: #ef7d39;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 56px;
  margin-left: 50px;
}

#openbtn{
  color: #ef7d39;
  font-size: 40px;
}

/* Logo */
#logo {
  background-position: center;
  background-size: cover;
  background-image: url("img/Zakat\ Al\ Fitr.png");
  position: absolute;
  top: 30px;
  left: 50px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

#logo:hover {
  opacity: 0.8;
}

/* Position the navbar container inside the image */
.container {
  position: relative;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #1d3557;
  text-align: center;
  padding: 34px 36px;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 2px solid transparent;
}

.topnav a:before {
  content: "";
  display: block;
  position: relative;
  width: 0;
  top: 2em;
  border-bottom: 2px solid #ef7d39;
  transition: width 0.4s;
}

.topnav a:hover {
  height: 1px;
  opacity: 0.7;
  text-align: left;
}

.topnav a:hover:before {
  width: 100%;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/Page\ 1\ Accueil.png");
  background-size: cover;
  min-height: 100%;
}

.closebtn{
  color: #ef7d39;
}

/* Media queries for mobile devices */
@media only screen and (min-width: 800px)  and (max-width: 1920px){
  .bgimg-1 {
    background-image: url("img/Page\ 1\ Accueil.png");
  }
}


@media only screen and (min-width : 360px) and (max-width : 428px){
  .bgimg-1 {
    background-image: url("img/Page\ 1\ responsive.png");
  }
}

.w3-xxlarge {
  color: #1d3557;
  font-weight: lighter;
}

.w3-xxxlarge {
  color: #1d3557;
  font-weight: bold;
}

.w3-small {
  color: #1d3557;
  font-weight: lighter;
  width: 100%;
  margin-top: 0;
  padding: 12px 30px;
  margin-bottom: 16px;
}

.w3-large {
  color: #1d3557;
  font-weight: bold;
  width: 100%;
  margin-top: 0;
  padding: 12px 30px;
  margin-bottom: 16px;
}

/* Media queries for mobile devices */

@media screen and (max-width: 600px) {
  .w3-small,
  .w3-large,
  #cta {
    width: 100%;
    margin-top: 0;
    padding: 12px 30px;
    margin-bottom: 16px;
  }
}

/* @media screen and (max-width: 428px) {
  .w3-small,
  .w3-large,
  #cta {
    position: relative;
    top: 200px;
  }
}
@media screen and (max-width: 428px) {
  .w3-small,
  .w3-large,
  #cta {
    position: relative;
    top: 200px;
  }
}

@media screen and (max-width: 412px) {
  .w3-small,
  .w3-large,
  #cta {
    position: relative;
    top: 150px;
    font-size: 10px;
  }
}

@media screen and (max-width: 411px) {
  .w3-small,
  .w3-large,
  #cta {
    position: relative;
    top: 150px;
    font-size: 10px;
  }
}

@media screen and (max-width: 390px) {
  .w3-small,
  .w3-large,
  #cta {
    position: relative;
    top: 170px;
    font-size: 15px;

  }
}

@media screen and (max-width: 375px) {
  .w3-small,
  .w3-large,
  #cta {
    position: relative;
    top: 130px;
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .w3-small,
  .w3-large,
  #cta {
    position: relative;
    top: 170px;
  }
} */

.copyright {
  position: relative;
  left: 1000px;
  color: #1d3557;
}

/* Media queries for mobile devices */
@media screen and (max-width: 1920px) {
  .copyright {
    position: relative;
    left: 700px;
  }
}

@media screen and (max-width: 1440px) {
  .copyright {
    position: relative;
    left: 500px;
  }
}

@media screen and (max-width: 1280px) {
  .copyright {
    position: relative;
    left: 400px;
  }
}

@media screen and (max-width: 1080px) {
  .copyright {
    position: relative;
    left: 310px;
  }
}

@media screen and (max-width: 810px) {
  .copyright {
    position: relative;
    left: 180px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    position: relative;
    left: 10px;
  }
}

@media screen and (max-width: 428px) {
  .copyright {
    font-size: x-small;
    position: relative;
    left: 30px;
    bottom: 1px
  }
}

@media screen and (max-width: 414px) {
  .copyright {
    font-size: x-small;
    position: relative;
    left: 25px;
  }
}

@media screen and (max-width: 412px) {
  .copyright {
    font-size: x-small;
    position: relative;
    left: 25px;
    top: 1px;
  }
}

@media screen and (max-width: 390px) {
  .copyright {
    font-size: xx-small;
    position: relative;
    left: 25px;
    top: 2px;
  }
}

@media screen and (max-width: 384px) {
  .copyright {
    font-size: xx-small;
    position: relative;
    left: 20px;
  }
}

@media screen and (max-width: 375px) {
  .copyright {
    font-size: xx-small;
    position: relative;
    left: 20px;
  }
}

@media screen and (max-width: 360px) {
  .copyright {
    font-size: xx-small;
    position: relative;
    left: 10px;
    top: 3px;
  }
}

/* icons social network */
.fa-facebook {
  font-size: 30px;
  margin: 5px 2px;
  padding: 10px;
  color: #3b5998;
}

.fa-instagram {
  font-size: 30px;
  margin: 5px 2px;
  padding: 10px;
  color: #c32aa3;
}

.fa-snapchat {
  font-size: 30px;
  margin: 5px 2px;
  padding: 10px;
  color: #fffc00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-twitter {
  font-size: 30px;
  margin: 5px 2px;
  padding: 10px;
  color: #1da1f2;
}

/* Media queries for mobile devices */
@media screen and (max-width: 428px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 40px;
    width: 40px;
    left: 20px;
    top: -80px;
  }
}

@media screen and (max-width: 414px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 40px;
    width: 40px;
    top: -80px;
    left: 10px;
  }
}

@media screen and (max-width: 412px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 40px;
    width: 40px;
    left: 10px;
    top: -60px;
  }
}

@media screen and (max-width: 411px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 35px;
    width: 40px;
    left: 10px;
    top: -50px;
  }
}

@media screen and (max-width: 390px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 35px;
    width: 50px;
    margin: 5px 2px;
    top: -80px;
    left: 1px;
  }
}

@media screen and (max-width: 384px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 35px;
    width: 40px;
    top: -80px;
    left: 1px;
  }
}

@media screen and (max-width: 375px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 30px;
    font-size: 35px;
    width: 50px;
    top: -30px;
    left: -10px;
  }
}

@media screen and (max-width: 360px) {
  .fa-facebook,
  .fa-instagram,
  .fa-snapchat,
  .fa-twitter {
    position: relative;
    padding: 25px;
    font-size: 35px;
    width: 50px;
    margin: 5px 2px;
    top: -80px;
    left: 5px;
  }
}